.main-container{
    width: 100%;
    /* background-color: red; */
    /* min-height: 100vh; */
}
.img-container{
        width: 100%;
}
.tagline{
    background-color: #36393e;
    width:100%;
    justify-content: center;
    display: flex;
    /* text-align: center; */
}
.fs20{
    font-size: 20px;
}
.font-black{
    color: black;
    font-weight: 800;
}
.custom-btn{
    
}