<div class="main-div">


    <nav class="navbar navbar-expand-lg  sticky-top">
        <div class="container-fluid p-0">
            <a class="navbar-brand font-bold text-xl text-white" routerLink="/">PlanSync</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav-links d-flex justify-content-center" *ngIf="auth">
                <span class="me-5" (click)="toPath('teams-dashboard')">Teams</span>
                <span class="me-5" (click)="toPath('Notes')">Notes</span>
                <span class="me-5" (click)="toPath('Settings')">Settings</span>
            </div>

            <div class="collapse navbar-collapse justify-content-end " id="navbarNav"
                *ngIf="path!=='/login' && path!='/register' && !auth">
                <ul class="navbar-nav gap-3">

                    <li class="nav-item d-flex gap-2">
                        <a class="btn btn-primary px-4 py-2 rounded-full shadow-sm hover:opacity-90"
                            routerLink="/login">
                            Log in
                        </a>
                        <a class="btn btn-primary px-4 py-2 rounded-full shadow-sm hover:opacity-90"
                            routerLink="/register">
                            Sign Up
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end " id="navbarNav" *ngIf="auth">
                <ul class="navbar-nav gap-3">

                    <li class="nav-item d-flex gap-4">
                        <!-- <a href="/profile"   *ngIf="auth">My Profile</a> -->
                        <a href="/user-profile">
                            <img src="assets/profile_logo.png" alt="profile_logo" class="profile_logo">
                        </a>

                        <a class="btn btn-danger px-4 py-2 rounded-full shadow-sm hover:opacity-90"
                            (click)="onlogoutClick()">
                            Logout
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div *ngIf="showModal" class="modal">
    <div class="d-flex flex-column modal-content">
        <h2>Are you sure you want to logout?</h2>
        <div class="d-flex gap-4 justify-content-center">
            <button (click)="logout()">Yes</button>
            <button (click)="closeModal()">No</button>
        </div>
    </div>
</div>