.main-div {
    /* border:2px solid white; */
    /* border-radius: 10px; */
    min-height: 75vh;
    gap: 5%;
    background: linear-gradient(135deg, #040B1D, #0A1A3A, #020617);
    min-width: 10vw;
    /* width: 120%; */
}

.main-div a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.navigator-button {
    padding: 10px;
    width: 100%;
}